@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length{
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}

body{
  background: #f9f2d3;  
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #793eaf;
  @include boxShadow(#fdb1b9, 1000);
}

h2:nth-child(2){
  color: #1b5bea;
  @include boxShadow(#44d4bf, 1000);
}

h2:last-child{
  color: #1b5bea;
  @include boxShadow(#fd82e6, 1000)
}
