
@-webkit-keyframes rotate {
    0% {-webkit-transform: rotateY(0);}
    100% {-webkit-transform: rotateY(360deg);}
}
@keyframes rotate {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(360deg);}
}
body {
    background-color: #333;
    background-image: linear-gradient(
        transparent 75%, 
        black
    );
}
.links {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}
.links ul {
    list-style: none;
}
.links ul li {
    display: inline;
    font-family: 'helvetica',sans-serif;
    text-transform: uppercase;
    padding: 5px 10px;
    letter-spacing: 1.5vw;
}
.links ul li a {
    color: white;
    font-weight: 800;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    text-shadow: -2px 2px 0 black;
}
.links ul li a:hover {
    color: #d4d;
    transition-duration: .25s;
}
.stage {
    width: 600px; height: 600px;
    -webkit-perspective: 1600px;
            perspective: 1600px;
    -webkit-perspective-origin: 50% -240px;
            perspective-origin: 50% -240px;
    margin: 150px auto;
}
h1 {
    font-family: 'helvetica',sans-serif;
    text-align: center;
    color: white;
    position: absolute;
    top: 150px;
    left: 250px;
    letter-spacing: 1.5vw;
    text-shadow: -2px 2px 0 black;
}
figure {
    display: block; 
    position: absolute;
    width: 346px; 
    height: 300px;
    background-color: #d44;
    opacity: 1;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
}
.hexagon {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear;
}
.one {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    background-color: #f6f6f6;
    opacity: .5;
}
.two {
    -webkit-transform: rotateY(-60deg) translateZ(300px);
            transform: rotateY(-60deg) translateZ(300px);
    background-color: #333333;
    opacity: .5;
}
.three {
    -webkit-transform: rotateY(120deg) translateZ(300px);
            transform: rotateY(120deg) translateZ(300px);
    background-color: #333333;
    opacity: .5;
}
.four {
    -webkit-transform: rotateY(-120deg) translateZ(300px);
            transform: rotateY(-120deg) translateZ(300px);
    background-color: #333f6f;
    opacity: .5;
}
.five {
    -webkit-transform: rotateY(60deg) translateZ(300px);
            transform: rotateY(60deg) translateZ(300px);
    background-color: #333f6f;
    opacity: .5;
}
.six {
    -webkit-transform: rotateY(0) translateZ(-300px);
            transform: rotateY(0) translateZ(-300px);
    background-color: #d4d4d4;
    opacity: .5;
}
.bottom {
    -webkit-transform: rotateX(90deg) translateZ(0);
            transform: rotateX(90deg) translateZ(0);
    background-color: #d44;
    height: 600px;
    opacity: .8;
}
.bottom-sixty {
    -webkit-transform: rotateY(60deg) rotateX(90deg) translateZ(0);
            transform: rotateY(60deg) rotateX(90deg) translateZ(0);
    background-color: #d44;
    height: 600px;
    opacity: .8;
}
.bottom-one-twenty {
    -webkit-transform: rotateY(120deg) rotateX(90deg) translateZ(0);
            transform: rotateY(120deg) rotateX(90deg) translateZ(0);
    background-color: #d44;
    height: 600px;
    opacity: .8;
}
.top {
    -webkit-transform: rotateX(-90deg) translateZ(-300px);
            transform: rotateX(-90deg) translateZ(-300px);
    background-color: #d44;
    height: 600px;
}
.top-sixty {
    -webkit-transform: rotateY(60deg) rotateX(90deg) translateZ(300px);
            transform: rotateY(60deg) rotateX(90deg) translateZ(300px);
    background-color: #d44;
    height: 600px;
}
.top-one-twenty {
    -webkit-transform: rotateY(120deg) rotateX(90deg) translateZ(300px);
            transform: rotateY(120deg) rotateX(90deg) translateZ(300px);
    background-color: #d44;
    height: 600px;
}


