<footer class="flex">
  <div class="flex col">
    <span id="score">00</span>
    <span class="">
      <button>+</button>
      <button>-</button>
    </span>
    </div>
    <div class="flex col grow">
      <span>2018 David Nave</span>
    </div>
    <div class="col">
    <span class="">
      <button id="update-nav">Update Nav</button>
    </span>
  </div>
</footer>
<script src="/socket.io/socket.io.js"></script>