<title>Dustbin</title>
<!-- START OF INCLUDES -->
<script src="/js/lib/jquery-3.3.1.min.js"></script>
<link href="/css/lib/normalize.css" rel="stylesheet">
<link href="/css/default.css" rel="stylesheet">
<!-- END OF INCLUDES -->
