body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.watch-face {
    height: 125px;
    width: 125px;
}
.circle {
    border-radius: 50%;
    height: 125px;
    position: absolute;
    transform: translate(0, 0);
    width: 125px;
    background: white;
    opacity: .75;
}
.circle:nth-child(1) {
    transform: translate(-35px, -50px);
}
.circle:nth-child(2) {
    transform: translate(35px, -50px);
}
.circle:nth-child(3) {
    transform: translate(-60px, 0);
}
.circle:nth-child(4) {
    transform: translate(60px, 0);
}
.circle:nth-child(5) {
    transform: translate(-35px, 50px);
}
.circle:nth-child(6) {
    transform: translate(35px, 50px);
}