<html>
    <head>
        <meta>
        <link href="img/en.png" type="image/png" rel="icon">
        <link href="bike2.css" rel="stylesheet">
        
        <title></title>
    </head>
    <body>

        %ul
  -(1...8).each do |li|
    %li
    </body>
</html>