@import "compass/css3";

* {
  @include box-sizing(border-box);
}
html {
  width: 100%;
  height: 100%;
  overflow:hidden;
}
body {
  @include background-image(linear-gradient(darken(#ddd,50%), darken(#ddd,70%)));
  @include display-box; 
  @include box-align(center);
  @include box-pack(center);
  height: 100%;
  width: 100%;
  font-size:50px;
}
ul {
  height:4.5em;
  width:4.5em;
  display:block;
  position:relative;
  border:0.2em solid darken(#ddd,40%);
  border-radius:100%;
  @include box-sizing(border-box);
  @include box-shadow(0 0 0 0.25em darken(#ddd,75%));
  -webkit-backface-visibility: hidden;
  cursor:pointer;
  &:hover {animation: go 2s infinite linear;}
}
li {
  display:block;
  width:4em;
  height:0.5em;
  border-width:0.05em;
  border-style:solid;
  border-color: #ddd transparent darken(#ddd,20%);
  position:absolute;
  left:0.05em;
  top:1.8em;
  @for $i from 2 through 8 {
    &:nth-child(#{$i}) {
      @include transform(rotate((30 * ($i - 1))+deg));
      border-color: darken(#ddd,10%) transparent darken(#ddd,25%);
    }
  }
}

@keyframes go {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

View Compiled
