<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="swiss-tooltip.css">
</head>
<body>
  <div class="container">
    <div class="grid">
      <div class="header">
        <p>header</p>
      </div>
      <div class="content">
        <div class="box">
          <p><a href="#" class="circle tooltip" data-text="An example hover tooltip.">i</a></p>
        </div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box tooltip" data-text="Hover tip applied to div.box"></div>
      </div>
      <div class="footer">
        <p>footer</p>
      </div>
    </div>
  </div>
</body>
</html>
