@keyframes move-eye-skew {
    0% {transform: none;}
    20% {transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(.9);}
    25%, 44% {transform: none;}
    50%, 60% {transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(.95);}
    66%, 100% {transform: none;}
}
body {
    background-color: rgba(123, 83, 83, 1);
    background-image: 
        radial-gradient(closest-side, 
            transparent 98%, 
            rgb(190, 178, 147)
        ),
        radial-gradient(closest-side, 
            transparent 98%, 
            rgb(173, 176, 209) 99%
        );
    background-size: 80px 80px;
    background-position:0 0, 40px 40px;
}
.stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20vh 20vw;
    perspective: 1200px;
    perspective-origin: 50% 50%; 
}
.sphere {
    display: inline-block;
    background: white;
    position: relative;
    background: radial-gradient(
        circle at 50% 120%, 
        #ffffff, 
        rgba(222, 222, 222, 1) 10%, 
        rgb(204, 204, 204) 80%, 
        #6f6f6f 100%
    );
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin: 0;
}
.sphere:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 0px, 
        #e3c29a, 
        rgba(255, 255, 255, 0) 58%
    );
    filter: blur(5px);
    z-index: 2;
}
.sphere:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 50%, 
        rgba(255, 255, 255, 0.8), 
        rgba(255, 255, 255, 0.8) 14%, 
        rgba(255, 255, 255, 0) 24%
    );
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
.sphere .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at 50% 50%, 
        rgba(0,0,0,.4), 
        rgba(0,0,0,.1) 40%, 
        rgba(0,0,0,0) 50%
    );
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}
.iris {
    width: 40%;
    height: 40%;
    margin: 30%;
    background: white;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 50%,
        #208ab4 0%,
        #518ebf 30%,
        #1b476a 100%
    );
    transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
    position: absolute;
    animation: move-eye-skew 5s ease-out infinite;
    z-index: 3;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}
