:root {
  --primary: #95ACAE;
  --secondary: #FFB915;
  --tertiary: #79BDBC;
  --text-color: #2B2B3D;
  --mercury: #E5E5E5;
  --neutral-mid: #8D8E89;
}
*,*::before,*::after {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-decoration: none;
}
body {
  font-size: 100%;
  line-height: 1;
  /* cursor: url('../img/cursor-mouse.png'), auto; */
}
p { font-weight: 300; margin-bottom: 5px }
h1,h2,h3,h4 { 
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h2,h3,h4 {  
  font-size: 0.8em;
  
}
h2 { 

}

/* LAYOUT SHORTHAND CLASSES */

/* FLEX */
.flex { display: flex }
.col { flex-direction: column }
/* FLEX JUSTIFY-CONTENTS ALONG PRIMARY AXIS */
.justify-flex-start { justify-content: flex-start }
.justify-flex-end { justify-content: flex-end }
.justify-center { justify-content: center }
.space-between { justify-content: space-between }
.space-around { justify-content: space-around }
.space-evenly { justify-content: space-evenly }
.flex-wrap { flex-wrap: wrap }
.flex-no-wrap { flex-wrap: nowrap }
/* FLEX ALIGN-ITEMS ALONG SECONDARY AXIS */
.align-flex-start { align-items: flex-start }
.align-flex-end { align-items: flex-end }
.align-center { align-items: center }
.stretch { align-items: stretch }
.baseline { align-items: baseline }
/* FLEX ALIGN-CONTENTS FOR MULTIPLE ROWS ALONG SECONDARY AXIS */
.content-space-around { align-content: space-around }
.content-space-between { align-content: space-between }


/* FLEX CHILD ELEMENTS */
.grow { flex: 1 0 auto }

/* GRID */
.grid { display: grid }
.thirds { grid-template-columns: repeat(3,1fr) }

/* MIN ELEMENT SPACING */
.min-padding { padding: 5px }
.min-margin { margin: 5px }


/* THEME BORDER AND SHADOW CLASSES */
.temp-border { border: 1px solid red }

.soft {
  box-shadow: 0 1px 0 RGBA(42,44,60,.8),
              0 2px 4px RGBA(42,44,60,.5),
              0 4px 20px RGBA(42,44,60,.2);
}
.really-soft {
  box-shadow: 0 2px 4px RGBA(42,44,60,.5),
              0 4px 20px RGBA(42,44,60,.2);
}
.brutal {
  box-shadow: -10px 10px 0 RGBA(42,44,60,.5);
}



/* LARGER ELEMENTS */
.wrapper { }

/* WRAPPER HAS TWO CHILDREN */
#map {
  position: absolute;
  top: 0; bottom: 30vh;
  left: 0; right: 0;
}
.sidebar {
  background-image: url('../img/pattern-grid.png');
  background-size: 1800px;
  background-position-x: 0;
  overflow-y: scroll;
  position: absolute;
  top: 70vh; bottom: 0;
  left: 0; right: 0;
}


/* MAPBOX OVERRIDES */
.popup-img {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 15px;
}
.popup-container {
  max-width: 350px;
  padding-top: 0;
}
.mapboxgl-popup-content {
  padding: 0;
  background: var(--mercury);
  border-radius: 7px;
}
.mapboxgl-ctrl-group {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  max-width: 100%;
}
.mapboxgl-ctrl-group {
  background: transparent;
}
.mapboxgl-ctrl-group > button {
  background-color: var(--mercury);
  margin-bottom: 5px;
}
.mapboxgl-ctrl > button:hover {
  background-color: #C0C1BB;
}

/* UNPADDED-SIDEBAR HAS TWO PADDED-CHILDREN */
.sidebar * { color: var(--text-color) }
.header * { color: white }

/* OUTER ELEMENT SPACING */
.header, .body, .card {
  padding: 20px 5px;
  margin-bottom: 15px;
}
/* INNER ELEMENT SPACING */
.single, .single-heading, .pair {
  padding: 10px 5px;
  margin: 0 5px;
}

.header {
  background-color: var(--neutral-mid);
  border-bottom: 2px solid var(--text-color);
}
.single {
  border: 2px solid var(--text-color);
  border-top-width: 0;
  background-color: var(--mercury);
}
.single-heading {
  background-color: var(--neutral-mid); 
  border: 2px solid var(--text-color);
  border-bottom-width: 1px;
  text-align: center;
}

.pair {
  text-align: center;
}

/* COMPASS EFFECT */
.hole {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(10px);
}
.pers {
  perspective: 500px;
  perspective-origin: bottom center;
}
.pin { position: absolute; top: 0; }
.triangle { fill: var(--tertiary) }
.compass {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--mercury);
  background-color: #fafafa;
}
.compass:after {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  color: var(--mercury);
  font-size: 30px;
  font-weight: 100;
}
.compass .n {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.compass .n:before {
  font-weight: bold;
  color: var(--tertiary);
  content: 'N';
}
.compass .s {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.compass .s:before { content: 'S' }
.compass .w {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.compass .w:before { content: 'W' }
.compass .e {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.compass .e:before { content: 'E' }

/* SLIDER BUTTONS */
.round {
  border-radius: 50% !important;
  padding: 1em 1.2em !important;
  margin-left: 5px; margin-right: 5px;
  border: 2px solid #C0C1BB;
  transition: all 250ms ease;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #fafafa;
}
.round:hover {
  cursor: pointer; 
  background-color: var(--mercury);
}
.round:active, button:active {
  box-shadow: inset 0 4px 1px var(--text-color);
}
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}
.switch input { display: none }
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: var(--text-color);
  transition: .4s;
  border-radius: 10px;
}
.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 45%;
  border: 2px solid var(--mercury);
  border-radius: 20px;
  background-color: white;
  left: 4px; bottom: 4px;
  transition: transform .4s;
}
input:checked + .slider {
  background-color: var(--tertiary);
  box-shadow: inset 0 0 4px RGBA(42,44,60,.5);
}
input:checked + .slider::before {
  transform: translateX(100%);
}
input:focus + .slider {
  box-shadow: 0 0 0 var(--tertiary),
  0 0 2px RGBA(43,43,61,1.00);
}
input[type="text"] {
  color: var(--text-color);
  padding: 5px 15px;
  font-size: 1.2rem;
}
.btn {
  display: inline-block;
  padding: 1em 1.6em;
}
button {
  border: 2px solid #C0C1BB !important;
}
.btn, 
button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 250ms ease;
}
button:hover {
  cursor: pointer;
  background-color: var(--mercury);

}
.btn:hover { 
  color: white;
  cursor: pointer; 
}
.btn:hover:after {
  animation-name: bgin;
  transform: skew(-45deg) translate(-50%);
}
.btn:after {
  content: '';
  z-index: -1;
  width: 150%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  animation-name: bgout;
  animation-duration: 400ms;
  transform: skew(-45deg) translate(-150%);
  background-color: #5149CF;
}
.btn--iris {
  border: 2px solid #5149CF;
  color: #5149CF;
}
.btn--iris:after { background-color: #5149CF }
@keyframes bgin {
  from {transform: skew(-45deg) translate(-150%); }
  to {transform: skew(-45deg) translate(-50%); }
}
@keyframes bgout {
  from {transform: skew(-45deg) translate(-50%); }
  to {transform: skew(-45deg) translate(50%); }
}

.bricklayer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: start;
  -webkit-align-items: flex-start;
       -ms-flex-align: start;
          align-items: flex-start;
         -webkit-box-pack: center;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.bricklayer-column {
  -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}
.bricklayer-column-sizer { 
  width: 25%;
  display: none;
}
.bricklayer img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
-webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.bricklayer img:hover {
  cursor: pointer;
  -webkit-transform: translateX(0) translateY(-10px) translateZ(0)
  rotateX(-15deg) rotateY(0deg) rotateZ(0deg)
  scale(1.1);
transform: translateX(0) translateY(-10px) translateZ(0)
  rotateX(-15deg) rotateY(0deg) rotateZ(0deg)
  scale(1.1);
-webkit-box-shadow: 0 5px 0 var(--secondary),
  0 10px 0 var(--primary),
  0 15px 0 var(--tertiary) !important;
box-shadow: 0 5px 0 var(--secondary),
  0 10px 0 var(--primary),
  0 15px 0 var(--tertiary) !important;

}

@media screen and (min-width: 840px) {
  #map {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 40vw;
  }
  .sidebar {
    position: absolute;
    top: 0; bottom: 0;
    left: 60vw; right: 0;
  }
  .bricklayer-column-sizer { width: 50% }
}


