body {
    background-color: rgb(145, 145, 145);
    width: 100%; height: 100%;
    overflow: hidden;
    margin: 0; padding: 0;
}
#badge {
    width: 12rem; height: 12rem;
    background-color: rgba(63, 81, 181, 1.00);
    box-shadow: inset 0 5px 3px rgba(20, 20, 20, .3), 0 5px 3px rgba(20, 20, 20, .3);
    border-radius: 50%;
    border: .75rem solid #f6f6f6;
    display: inline-block;
    text-align: center;
    vertical-align: middle;    
    transition: .5s ease-out;
    padding: 10px;
    margin: 10px 20%;
}
#text {
    font-family: 'Helvetica Neue', sans-serif;
    color: #f6f6f6;
    font-style: italic;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: -5px 5px 0 rgba(230, 81, 94, 1.00); 
    text-rendering: geometricPrecision;
    line-height: 10.5rem;
    transition: .5s ease-out;
}
#badge:hover {
    transition: filter .5s ease-in;
    filter: blur(2px);
}
#text:hover {
    transition: filter .5s ease-in;
    filter: blur(2px);
    text-shadow: -5px 5px 3px rgba(230,81,94,1);
}
section {
    margin: 20px 10px;
    color: white;
    overflow: scroll;
    height: 300px;
    z-index: 1;
    position: absolute;
}
section:before {
    height: 2rem;
    width: 100%;
    background: black;
    z-index: 2;
}