/* stylesheet for homepage davidnave.com */
body {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 25% auto auto 25%;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 0;
}
.wrapper > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
}
header, footer {
    grid-column: 1 / 5;
}
header {
    grid-row: 1;
}
footer {
    grid-row: 3;
}
.main {
    grid-column: 2 / 4;
}
aside {
    grid-column: 1 / 1; 
}
article {
    grid-column: 4 / 4;
}
section {
}