*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  background-color: RGBA(16, 16, 16, 1.00);
}
.wrap * {
  border: 2px solid RGBA(236, 237, 233, 1.00);
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(25, 4vw);
}
.marble {
  transition: all .2s ease;
  border-radius: 50%;
  background-color: RGBA(247, 239, 231, .8);
}
