@import url('https://fonts.googleapis.com/css?family=Inconsolata|Jura|Oxygen:700');

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  width: 100vw;
  color: #363C45;
}
nav span ul li{
    display: inline;
}
section {
    margin: 0;
}
article, aside {
    border-top: 6px solid #363C45;
}
aside {
    margin: 2em 0;
    padding: 0 .2em 0 0;
}
article {
    margin: 3em 0 0 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: minmax(100px, auto);
}
.col-right-container {
  opacity: .8;
  grid-column: 2 / 4;
  grid-row: 1 / 5;
  width: 70vw;
}
.col-one {
  grid-column: 1 / 1;
  grid-row: 1 / 5;
  width: 30vw;
  max-width: 300px;
}

/* line 36, ../sass/dn.scss */
.col-two {
  grid-column: 2 / 2;
  grid-row: 1 / 5;
}

/* line 45, ../sass/dn.scss */
.col-three {
  grid-column: 3 / 3;
  grid-row: 1 / 5;
}

/* line 55, ../sass/dn.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen', sans-serif;
  font-size: 4em;
  text-decoration: none;
  letter-spacing: inherit;
  color: #363C45;
  margin: .25em 0 0;
  line-height: .8;
}
pre, code {
  font-family: 'Inconsolata', monospace;
}

/* line 73, ../sass/dn.scss */
p, a, button, label, ul {
  font-family: 'Jura', sans-serif;
  color: #363C45;
}

/* line 79, ../sass/dn.scss */
.inline-list {
  display: inline;
}
