*, *::before, *::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html, body {
    margin: 0;
}
.container {
    width: 30vw;
    height: 30vw;
    background-color: #4200FF;
    position: absolute;
    top: 30vh;
    left: 15vw;
}
.container::before {
    content:'';
    position: relative;
    transform: rotate(15deg);
    width: 30vw;
    height: 30vw;
    background-color: #4200FF;
}
.text-area {
    margin: 0 auto;
    padding: 30% 0;
}
.text-area * {
    display: block;
    text-align: center; 
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}