@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);

$color : (
  bg-body: #eeeeee,
  text: #222222,
  redacted: #000000
);
$redactAnim: 1s ease-out forwards infinite;

body {
  padding: 2em;
  background: map-get($color, bg-body);
  color: map-get($color, text);
  font-family: 'Anonymous Pro';
}

h1 {
  text-align: center;
}

p {
  line-height: 1.25em;
}

.redacted {
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: map-get($color, redacted);
    
  }

}

.left .redacted:before, .right .redacted:before {
  @include animation(redact-blackout-width $redactAnim);
}

.right .redacted:before {
    right: 0;
}

.top .redacted:before, .bottom .redacted:before {
  @include animation(redact-blackout-height $redactAnim);
}

.bottom .redacted:before {
    bottom: 0;
}

@include keyframes(redact-blackout-width){
  from {  width: 0%;  }
  to{  width: 100%;  }
}

@include keyframes(redact-blackout-height){
  from {  height: 0%;  }
  to{  height: 100%;  }
}
