body {
    background: RGBA(63, 81, 181, 1.00);
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.stage {
    margin: 20% auto 0;
    width: 100%;
    perspective: 500px;
    perspective-origin:  left bottom;
}
span {
    background-color: transparent;
    color: #333;
    margin: 0 auto;
    padding: 5vh 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    line-height: .025rem;
    border: 3px solid #333;
    opacity: 1;
    transform: rotateY(15deg);
}
span:hover {
    transform: rotateY(0);
    transition: transform .5s ease;
}
span:nth-of-type(even) {
    opacity: .75;
}
#one {
    width: 30%;
}
#two {
    width: 40%;
}
#three {
    width: 50%;
}
#four {
    width: 60%;
}
#five {
    width: 70%;
}
#six {
    width: 80%;
}
footer {
    background-color: darkblue;
    background: linear-gradient(transparent, darkblue 10%);
    width: 100%;
    margin: 0;
    height: 60%;
    position: absolute;
    transform: translateY(-5%);
    opacity: .8;
}
        