:root {
  --primary: #F7D100;
  --secondary: #8B8B87;
  --tertiary: #FF0000;
  --back: #050920;
  --dark: #473C3E;
}

*,*::before,*::after {
  box-sizing: border-box;
}
body {
  font-size: 100%;
  line-height: 0.9;
}
#map {
  position: absolute;
  z-index: 0;
  top: 20vh; bottom: 15px;
  left: 15px; right: 15px;
  border-radius: 3px;
  box-shadow: -2px 2px 8px RGBA(139,139,135,.8),
              -2vw 0 2vw RGBA(139,139,135,.4),
              -4vw 0 8vw RGBA(139,139,135,.2);
}
h4, label {
  font-family: 'Cutive Mono', cursive;
}
label {
  text-transform: uppercase;
}
section p {
  font-family: 'Oleo Script', cursive;
  font-weight: 400;
  font-size: 18px;
}
section {
  
  background: var(--back);
  color: var(--secondary);
  border: 2px solid RGBA(5,9,32,.8);
  box-shadow: -2px 4px 4px RGBA(35,35,35,.4),
              -6px 0 20px RGBA(35,35,35,.2)
              
              ;
  border-radius: 5px;
  /* MOBILE-SPECIFIC */
  top: 0; bottom: 50vh;
  left: 15px; right: 15px;
  z-index: 1;
  position: absolute;

}
.basic, .body, .opacity {
  display: flex;
  padding: 10px;
  align-items: center;
}
.opacity {
  flex-direction: column;
  margin: 4px auto;
}
span {
  text-align: center;
}
#position {
  width: 100%;
}
.flex { display: flex }
.grid { display: grid }
.half { grid-template-columns: repeat(2,1fr) }
.third { grid-template-columns: repeat(3,1fr) }

.border { border: 1px solid var(--secondary) }
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  width: 16px; height: 16px;
  background: var(--secondary);
  margin-top: -14px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  border: 1px solid var(--secondary);
  border-radius: 3px;
  width: 16px; height: 16px;
  background: var(--secondary);
  margin-top: -14px;
  cursor: pointer;
}
input[type="range"]:focus { outline: none }



/* 
DESKTOP SPECIFIC STYLES 
*/

@media screen and (min-width: 600px) {
  #map {
    top: 2vh; bottom: 2vh;
    left: 15vw; right: 1vw;
  }
  section {
    /* border-radius: 7px; */
    top: 15vh; bottom: 15vh;
    left: 2vw; width: 30vw;
    min-width: 350px; max-width: 500px;
  }
  nav {
    display: block;
    min-height: 25px;
    border-bottom: 1px solid var(--secondary);
    padding: 5px 10px;
  }

}
