@import url('https://fonts.googleapis.com/css?family=Neucha');
/* COLOR DECLARATIONS */
$primary: #3F51B5 !important;
$secondary: #E6515E;
$tertiary: #C07905;
$quartinary: #FFD841;
$type-bright: #fff;
$type-mid: #D4D4D4;
$type-dark: #2F302F;

/* NEW CLASSES */
.redacted span {
  position: relative;
  white-space: pre;
  &:after {
    background: $type-mid;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
		transition: .25s ease-in;
	}}
body {
	background: $primary;
	color: $type-bright;
}
.redacted span:hover {
	&:after {
		transition: background 1s ease-in;
		background: #333;
		box-shadow: 1px 1px 0 rgba(212,212,212,0.35);
	}
}
a, a:visited, a:link {
	text-decoration: none;
	color: $type-mid;
	transition: .25s ease-in;
}
a:hover, a:focus {
	transition: background .25s ease-in-out;
	background: $secondary;
	color: $type-dark;
	filter: blur(.25px);
	padding: 4px inherit;
	box-sizing: border-box;
	transform: skewY(-5deg) rotate(5deg);
}
li {
	font-family: 'PT Mono', monospace;
	color: white;
	margin: 10px 1.5vw 10px 0;
}
.site-title a {
	color: $type-mid;
	font-style: italic;
	font-size: 5rem;
	background: transparent !important;
	text-shadow: -.1em .1em 0 $secondary;
	transition: .25s ease-in;
}
.site-title a:hover, .site-title a:focus {
	transition: .25s ease-in-out;
	filter: blur(2px);
	text-shadow: -.1em .1em .07em $secondary;
}
.site-description {
	color: $type-bright;
	font-weight: bold;
}
.site-description, #primary-menu a, .entry-meta {
	text-transform: lowercase !important;
	font-family: 'Neucha', cursive;
	letter-spacing: .05em;
}
.site-footer h4 {
	color: $type-bright;
	font-size: 1em;
	text-transform: lowercase;
	font-style: italic;
}
.entry-footer {
	font-family: 'Neucha', cursive;
	color: $type-bright;
}
.entry-footer a {
	padding: 5px 10px;
}
.entry, .hentry {
	border-bottom-color: #d4d4d4;
}