/* Global */
$layers: 9;

body {
  height: 100vh;
  margin: 0;
  background: #000000;
  overflow: hidden;
}

/* Box */
#box {
  position: relative;
  height: 100%;
  top: 50%;
  left: 50%;
  perspective: 9999px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(10deg);
  transition: 2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
  cursor: pointer;
}

/* Layers */
.layer {
  position: absolute;
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: ease .5s;
  animation: load 1.4s forwards;
  opacity: 0;
}

@for $i from 1 through $layers {
  .layer:nth-child(#{$i}){
    transform: translate(-50%, -50%) rotateZ(0deg) translateZ(0px + 20 * $i);
    background-image: url('http://tobiasbogliolo.com/docs/codepen/assets/img/layer-'+$i+'.png');
    animation-delay: 0s + 0.2 * $i;
  }
}

.layer-toggle {
  width: 80%;
  height: 80%;
}

/* Load layers */
@keyframes load {
  to {
    opacity: 1;
  }
}
