<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body class="flex col stretch justify-flex-start">
    <% include ../partials/header %>

    <div class="grow" id="main"></div>

    <% include ../partials/footer %>
    <script src="../js/index.js"></script>
  </body>
</html>