<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="tiles.css">
</head>
<body>
  <div class="grid-two">
    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2>Platform Strategy</h2>
        <p>We want to focus on our Client's Customers, their experience when encountering our products. This includes our UX, listings, and advertising.</p>
      </div>
    </div>

    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2>Testing Stack</h2>
        <p>These are CRO testing efforts to strengthen our confidence in our UX and SEO optimization efforts.</p>
      </div>
    </div>

    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2>Suggestions Portal</h2>
        <p>We want an omni-channel ideas portal where employees can submit ideas for testing and platform improvements.</p>
      </div>
    </div>

    <div class="tile wide">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2>Solutions Consultation</h2>
        <p>We want to be available to consult on solutions from a UX and CRO perspective.</p>
      </div>
    </div>

    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2></h2>
        <p></p>
      </div>
      </div>


    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2></h2>
        <p></p>
      </div>
      </div>


    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2>A Form Example</h2>
        <form>
          <input placeholder="input"></input>
          <button>Submit It</button>
        </form>
        <p>What a wonderful idea. Better share!</p>
      </div>
    </div>


    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2></h2>
        <p></p>
      </div>
      </div>

    <div class="tile">
      <div class="bg-effect">
        <div class="dots"></div>
        <div class="lines"></div>
      </div>
      <div class="tile-content">
        <h2></h2>
        <p></p>
      </div>
    </div>
  </div>
</body>
</html>
