:root {
  --stage: 300px;
  --light: #C0C1BB;
  --dark: #2B2B3D;
  --black: #171526;
}
*,*::before,*::after {
  box-sizing: border-box;
  /* margin: 0; */
}
body {
    background-color: var(--black);
    width: 100%; margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}
@media screen and (min-width: 800px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}
section {
  border: 1px solid var(--light);
  background-color: var(--dark);
}
.stage {
  position: relative;
  top: 50%; 
  left: 50%;
  transform: translateX(calc(var(--stage) / -2)) 
             translateY(calc(var(--stage) / -2));
  width: var(--stage); 
  height: var(--stage);
  -webkit-perspective: 1600px;
          perspective: 1600px;
}
figure {
  display: block; 
  position: absolute;
  width: var(--stage); 
  height: var(--stage);
  background-color: #60c2ef;
  opacity: .5;
  /* -webkit-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0; */
}
.cube {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.front {
    -webkit-transform: translateZ(150px);
            transform: translateZ(150px);
    background-color: #d4de00;
}
.back {
    -webkit-transform: rotateY(180deg) translateZ(150px);
            transform: rotateY(180deg) translateZ(150px);
    background-color: #00e2ff;
}
.top {
    -webkit-transform: rotateX(90deg) translateZ(150px);
            transform: rotateX(90deg) translateZ(150px);
    background-color: #d4ded4;
}
.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
            transform: rotateX(-90deg) translateZ(150px);
    background-color: #d4dee0;
    
}
.left {
    -webkit-transform: rotateY(-90deg) translateZ(150px);
            transform: rotateY(-90deg) translateZ(150px);
    background-color: #5f0;
}
.right {
    -webkit-transform: rotateY(90deg) translateZ(150px);
            transform: rotateY(90deg) translateZ(150px);
    background-color: darkblue;
}



